# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.*.yml

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.npm
.pnpm-store

# Build files
/build
/dist
/.next
/.nuxt
/.output

# Cache directories
.cache
.parcel-cache
.rollup.cache
.temp
.tmp
.eslintcache

# Coverage directory
/coverage

# IDE specific files
.idea
.vscode
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log 